body {
	text-align: center;
	font-family: Microsoft Yahei, sans-serif;
}

/*css reset*/
ul, ol {
	list-style: none;
} 
body,
ul,
ol,
li,
p,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
a {
	color: black;
	text-decoration: none;
}
button {
	box-sizing: border-box;
	/*padding: 10px 20px;*/
	width: 160px;
	height: 40px;
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	border-radius: 30px;
}
button:focus {
	outline: none;
}
.box {
	margin: 0 auto;
	padding: 40px 0;
	text-align: center;
}
.box>h2 {
	margin-bottom: 40px;
	text-align: center;
    font-size: 40px;
    font-family: raleway, stxihei, Microsoft Yahei, sans-serif;
    font-weight: lighter;
}
.list-box {
	display: inline-block;
	overflow:  hidden;
	margin: 0 auto;
	/*width: 80%;*/
}
.list-box>li {
	float: left;
	margin-left: 20px;
}
.list-box>li:first-child {
	margin-left: 0!important;
}

/*top-bar*/
.top-bar {
	width: 100%;
	/*height: 60px;*/
	background-color: #f44336;
}
.nav-bar {
	height: 80px; /*为什么会显示85px*/
}
.nav-list {
	text-align: center;
	
}
.nav-list>li {
	
}
.nav-list>li:hover {
	background-color: #f50000;
}
.nav-list a {
	display: inline-block;
	width: 130px;
	height: 80px;
	color: #fff;
	font-size: 20px;
	line-height: 80px;
}
/*top-bar*/
.content-wrapper {
	/*background-color: #fff;*/ 
}
.introduction {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 600px;
	color: #fff;
	background: hsla(0,0%,100%,.25) border-box
}
.introduction:before {
	content: '';
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: -30px;
	/*background-color: black;*/
	/*opacity: 0.6;*/
	z-index: -1;
	background: url(banner.jpg) center center no-repeat;
	-webkit-filter: blur(20px);
}
.introduction img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.introduction h3 {

}
.introduction div {
	margin: 20px auto;
	/*display: block;*/
	width: 50%;
	text-align: justify;
}
.introduction>.download-btn {
	margin-top: 40px;
}

/*skills*/
.skills {
	/*background-color: #37474f;*/
	padding: 60px 0 80px;
	background-color: #ddd
}
.skills li {
	margin-left: 60px;
	padding-top: 70px;
	width: 200px;
}
.skills li:first-child {
	background: url(html_icon.png) top center no-repeat;
}
.skills li:nth-child(2){
	background: url(css_icon.png) top center no-repeat;
}
.skills li:nth-child(3) {
	background: url(js_icon.png) top center no-repeat;
}
/*.skills h2 {
	margin-top: 20px;
}*/
.skills p {
	text-align: left;
}
/*skills*/

.education {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	height: 600px;

	/*不知为何，不加这个，在IE会整体向左， 而Chrome则向中间*/
	text-align: left;
}
.education>h1{
	margin: 40px auto 20px;
	text-align: center;
	font-size: 40px;
	font-family: raleway;
	color: #333;
}
.edu-box {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	width: 380px;
	padding: 20px 10px;
	color: #fff;
	background-color: #009688;
}
.edu-box>p {
	text-align: left; 
}

.edu-box-1 {
	top: 150px;
}
.edu-box-2 {
	top: 290px;
}
.edu-box-3 {
	top: 430px;
}

.edu-right-box {
	left: 50%;
	margin-left: 66px;
}
.edu-left-box {
	right: 50%;
	margin-right: 66px;
}
.edu-right-box:before {
	content: '';
	position: absolute; /*not absolute error*/
	z-index: -1;
	top: 0;
	left: -15px;
	width: 0;
	height: 0;
	background-color: transparent;
	/*box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );*/
	border: 15px solid #009688 ;
	transform: skewX(45deg);
}
.edu-left-box:before {
	content: '';
	position: absolute; /*not absolute error*/
	z-index: -1;
	top: 0;
	right: -15px;
	width: 0;
	height: 0;
	background-color: transparent;
	/*box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );*/
	border: 15px solid #009688 ;
	transform: skewX(-45deg);
}
.time {
	color: #ddd;
}
.edu-timeline {
	position: absolute;
	left: 50%;
	margin: 0 auto;
	width: 4px;
	height: 275px;
	background: #f08888;
}
.edu-timeline-dot {
	width: 15px;
	height: 15px;
	margin-top: 120px;
	margin-left: -5px;
	border-radius: 50%;
	background: #f44336;
}
.edu-timeline-dot:first-child {
	margin-top: 0;
}
/*education END*/

/*works*/

/*works end*/

/*hobbies*/
.hobbies {
	background: #eee;
	padding: 100px 0 130px;
}
.hobbies>h1 {
	margin-bottom: 40px;
    font-size: 40px;
    font-family: raleway, stxihei, Microsoft Yahei, sans-serif;
    font-weight: lighter;
}
.hobbies .list-box>li {
	margin-left: 100px;
}
.hobby-link img {
	display: block;
	width: 100px;
	height: 100px;
}
.hobbies .hobby-text {
	display: inline-block;
	margin-top: 30px;
}
/*hobbies END*/

.social-contact {
	padding: 80px 0 130px;
}
.social-contact .contact-link {
	display: inline-block;

}
.contact-link>img {
	width: 80px;
	height: 80px;
}
/*contact END*/
.footer {
	padding: 10px 0 20px;
	background-color: #bbb;
}
.footer>p {
	color: #444;
	text-align: center;
}








