/*css reset*/
ul, ol {
	list-style: none;
} 
body,
ul,
ol,
li,
p,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
	text-align: center;
	font-family: Microsoft Yahei, sans-serif;
	letter-spacing: 1px;
	line-height: 1.4;
}
.inner-box a {
	/*color: transparent;*/
	text-decoration: none;
}
button {
	box-sizing: border-box;
	width: 160px;
	height: 40px;
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	border-radius: 30px;
}
button:focus {
	outline: none;
}
.box {
	display: table;
	margin: 0 auto;
	width: 100%;
	width: 100vw;
	height: 100vh;
	text-align: center;
	box-sizing: border-box;
}

.inner-box {
	display: table-cell;
	vertical-align: middle;
	width: 100vw;
	text-align: center;
}

.box h2 {
	margin-bottom: 40px;
	text-align: center;
    font-size: 40px;
    font-family: raleway, stxihei, Microsoft Yahei, sans-serif;
    font-weight: lighter;
}
.inner-box>h2 {
	font-size: 30px!important;
}
.list-box {
	display: inline-block;
	overflow:  hidden;
	margin: 0 auto;
}
.list-box>li {
	float: left;
	margin-left: 20px;
}
.list-box>li:first-child {
	margin-left: 0!important;
}


/*top-bar*/
.top-bar {
	position: fixed;
	z-index: 100;
	top: 50%;
	right: 30px;
	transform: translate(0, -50%);
}
.nav-list>li {
	margin-top: 10px;
}
.nav-list>li:first-child {
	margin-top: 0;
}
.nav-list>li>a {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgba(0, 150, 136, 0.53);
	cursor: pointer;
}
.curr-dot {
	background: rgba(0, 150, 136, 0.9)!important;
}
/*top-bar*/
.content-wrapper {
	position: relative;
	/*background-color: #fff;*/ 
	/*position: absolute;*/
	/*overflow: hidden;*/


	/*margin-top: 60px;*/
}
.introduction {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 600px;
	color: #fff;
	background: hsla(0,0%,100%,.25) border-box
}
.introduction:before {
	content: '';
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: -30px;
	z-index: -3;
	background: url(../images/banner.jpg) center center no-repeat;
	-webkit-filter: blur(20px);
}
.introduction:after {
	content: '';
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: -2;
	background-color: rgba(1, 1, 1, .3);
}
.introduction img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.introduction .descr{
	margin: 20px auto;
	display: block;
	width: 500px;
	text-align: justify;
}

.download-btn {
	margin-top: 60px;
}

/*skills*/
.skills {
	/*background-color: #37474f;*/
	/*padding: 60px 0 80px;*/
	background-color: #ddd
}
.skills>.inner-box {
	min-width: 520px;
}
.skills li {
	margin-left: 50px;
	padding-top: 70px;
	width: 140px;
}
.skills li:first-child {
	background: url(../images/html_icon.png) top center no-repeat;
}
.skills li:nth-child(2){
	background: url(../images/css_icon.png) top center no-repeat;
}
.skills li:nth-child(3) {
	background: url(../images/js_icon.png) top center no-repeat;
}

.skills h2 {
	font-size: 20px;
}
.skills p {
	text-align: left;
	font-size: 14px;
}
/*skills*/

.education {
	position: relative;
	/*overflow: hidden;*/
	margin: 0 auto;
	height: 600px;

	/*不知为何，不加这个，在IE会整体向左， 而Chrome则向中间*/
	text-align: left;
	background-color: #eee;
}
.education>h1{
	margin: 40px auto 20px;
	text-align: center;
	font-size: 40px;
	font-family: raleway;
	color: #333;
}
.edu-box {
	display: inline-block;
	box-sizing: border-box;
	color: #fff;
	
}
.edu-box>li {
	box-sizing: border-box;
	width: 200px;
	height: 200px;
	margin-left: 20px;
	padding: 20px 10px;
	background-color: #009688;
	border-radius: 5px;
}
.edu-box h2 {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 20px;
}
.edu-box .time {
	font-size: 14px;
	font-weight: normal;
	color: #EAEAEA;
}
.edu-box p {
	text-align: left;
	margin-top: 10px; 
	font-size: 14px;
}





/*works*/

/*works end*/

/*hobbies*/
.hobbies {
	background: #eee;
	/*padding: 100px 0 130px;*/
}
.hobbies>h1 {
	margin-bottom: 40px;
    font-size: 40px;
    font-family: raleway, stxihei, Microsoft Yahei, sans-serif;
    font-weight: lighter;
}
.hobbies .list-box>li {
	margin-left: 100px;
}
.hobby-link a {
	color: transparent;
}
.hobby-link img {
	color: transparent;
	display: block;
	width: 100px;
	height: 100px;
}
.hobbies .hobby-text {
	display: inline-block;
	margin-top: 30px;
}
/*hobbies END*/

.social-contact .contact-link {
	display: inline-block;
	color: transparent;
}
.contact-link>img {
	width: 80px;
	height: 80px;
}
/*contact END*/








